// Typography
$font-family: 'Public Sans', sans-serif;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 700;
$font-size: 18px;
// Primary colors
$color-dark-blue: hsl(233, 26%, 24%);
$color-lime-green: hsl(136, 65%, 51%);
$color-bright-cyan: hsl(192, 70%, 51%);
// Neutral colors
$color-grayish-blue: hsl(233, 8%, 62%);
$color-light-grayish-blue: hsl(220, 16%, 96%);
$color-very-light-gray: hsl(0, 0%, 98%);
$color-white: hsl(0, 0%, 100%);

@mixin center-within {
   display: flex; 
   justify-content: center;
   align-items: center;
}
@mixin container-width {width: 80%;}
html {
   background-color: blue;
} 

// Default Tags
body {
   margin: 0;
   font-family: $font-family;
   font-size: $font-size;
   font-weight: $font-weight-regular;
}
.btn {
   display: inline-block;
   padding: 12px 24px;
   border-radius: 50px;
   text-transform: capitalize;
   text-decoration: none;
   color: $color-white;
   background-image: linear-gradient(to bottom right, $color-lime-green, $color-bright-cyan);
   box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
   transition: all 0.3s ease;
   
   &:hover {
      opacity: 0.7;
      transform: translateY(-2px);
      box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.3);
   }
 }

// Sections
header {
   background-color: white;
   padding: 1.5rem;
   nav {
      display: flex;
      justify-content: space-between;
      .hamburger-menu-icon {
         border: none;
      }
      .request-invite-btn {
         display: none;
      }
      ul {
         display: none;
      }
   }
   @media (min-width: 768px) {
      @include center-within();
      nav {
         @include container-width(); 
         padding: 0;
         flex-direction: row;
         justify-content: space-between;
         align-items: center;
         ul {
            display: block;
            list-style: none;
            display: inline-flex;
            flex-direction: row;
            justify-content: flex-start;
            li {
               margin: 0 1rem;
            }
         }
         .hamburger-menu-icon {
            display: none;
         }
         .request-invite-btn {
            display: inline-block;
         }
      }
   }
}
 
// TODO: move to Base Tags later
.attribution {
   font-size: 11px;
   text-align: center;
}
.attribution a {
   color: hsl(228, 45%, 44%);
}

