// Typography
$font-family: 'Public Sans', sans-serif;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 700;
$font-size: 18px;
$close-menu-size: 2rem;
// Primary colors
$color-dark-blue: hsl(233, 26%, 24%);
$color-lime-green: hsl(136, 65%, 51%);
$color-bright-cyan: hsl(192, 70%, 51%);
// Neutral colors
$color-grayish-blue: hsl(233, 8%, 62%);
$color-light-grayish-blue: hsl(220, 16%, 96%);
$color-very-light-gray: hsl(0, 0%, 98%);
$color-white: hsl(0, 0%, 100%);

// Header Links Styling
$link-color: $color-dark-blue;
$link-color-hover: $color-lime-green;
$link-color-active: $color-bright-cyan;

@mixin center-within {
   display: flex; 
   justify-content: center;
   align-items: center;
}
@mixin container-width {width: 80%;}

html {
   background-color: blue;
   // background-color: yellow;
}

// Default Tags
body {
   margin: 0;
   font-family: $font-family;
   font-size: $font-size;
   font-weight: $font-weight-regular;
}
.btn {
   display: inline-block;
   padding: 12px 24px;
   border-radius: 50px;
   text-align: center;
   text-transform: capitalize;
   text-decoration: none;
   color: $color-white;
   background-image: linear-gradient(to bottom right, $color-lime-green, $color-bright-cyan);
   box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
   transition: all 0.3s ease;
   
   &:hover {
      opacity: 0.7;
      transform: translateY(-2px);
      box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.3);
   }
}

#toggle-mobile-nenu:checked {
   ~ ul {
      display: block;
   }
 }
#toggle-mobile-nenu:checked + .hamburger img {
   display: none;
}
#toggle-mobile-nenu:checked + .hamburger::before {
   content: "x";
   position: absolute;
   display: inline-block;
   right: 1.8rem;
   top: 0.8rem;
   font-size: $close-menu-size;
   color: $color-grayish-blue;
   font-weight: $font-weight-light;
}

// Sections
header {
   background-color: white;
   padding: 1.5rem;
   nav {
      display: flex;
      justify-content: space-between;
      .hamburger-menu-icon {
         border: none;
      } 
      .btn {
         display: none;
      }
      ul {
         display: none;
         position: absolute;
         padding: 1.6rem;
         // top: 16.0rem;
         top: 12.7rem;
         left: 50%;
         transform: translate(-50%, -50%);
         background-color: white;
         width: 80vw;
         
         li {
            position: relative;
            padding: 0.7rem;
            text-align: center;
            list-style-type: none;
            a {
               display: inline-block;
               text-decoration: none;
               font-weight: $font-weight-bold;
               color: $link-color;
               transition: all 0.3s ease;

               &:hover {
                  color: $link-color-hover;
               }

               &.active {
                  background-color: $link-color-active;
               }
            }
         }
      }
   }

   @media (min-width: 1440px) {
      @include center-within();
      nav {
         @include container-width(); 
         padding: 0;
         flex-direction: row;
         justify-content: space-between;
         align-items: center;
         ul {
            display: block;
            position: relative;
            position: static;
            width: auto;
            transform: none;
            // top: 2rem;
            padding: 0;
            // jlkj
            list-style: none;
            display: inline-flex;
            flex-direction: row;
            justify-content: flex-start;
            // justify-content: center;
            li {
               margin: 0 1rem;
               padding: 0;
               text-align: center;
               list-style-type: none;
               
               a {
                  &:hover {
                     color: $link-color-hover;
                     &::before {
                        content: "";
                        position: absolute;
                        bottom: -42px;
                        left: 0;
                        height: .3rem;
                        width: 100%;
                        background-color: $link-color-hover;
                     }
                  }
               }
            }
         }
         .hamburger {
            display: none;
         }
         .hamburger-menu-icon {
            display: none;
         }
         .btn {
            display: inline-block;
         }
      }
   }
}
main {
   .intro {
      .intro-img-container {
         position: relative;
         overflow: hidden;
         
         .top-layer-img {
            position: absolute;
            width: 100%;
            bottom: 14%;
            z-index: -1;
         }
         .bottom-layer-img {
            position: relative;
            width: 100%;
            // object-fit:cover;
            z-index: -2;
         }
      }
      // .block {
      //    // background-color: black; // passed
      // }
   }
}
 
// TODO: move to Base Tags later
.attribution {
   font-size: 11px;
   text-align: center;
}
.attribution a {
   color: hsl(228, 45%, 44%);
}

